.formInput {
  display: block;
  background-color: #e1e1e1a6;
  margin: 0.6rem 0;
  width: 100%;
}

.formInput:hover {
  background-color: rgb(240, 227, 227);
}

.submitButton {
  background: #6876d9;
  color: white;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #8994e3;
}