
.sectionsContainer {
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 0.6rem;
}

.leftSection {
  width: 100%;
}

.transactionFormContainer {
  margin: 0.9rem 0;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 3px 10px 0px #dfdfdf57;
}

.rightSection {
  overflow-x: auto;
}

.dataTableContainer {
  border-radius: 10px;
  background-color: #fff;
}